@import './main.scss';
@import './header.scss';
@import './galery.home.scss';
@import './state.home.scss';
@import './footer.scss';
@import './about.home.scss';
#banner-section{
  background: url("../images/bg-page (1).jpg") center/cover fixed;
  position: relative;
  padding-top: 200px;
  padding-bottom: 200px;
  height: 500px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 50px;
  &::after{
    content:"";
    background: linear-gradient(to bottom,rgba($Neutral-5,0.7),rgba(0,0,0,0.98));
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
  }
  & .page__title{
    color: white;
    font-family: $FontBold;
    font-size: 4rem;
    text-align: center;
    z-index: 50;
    text-shadow: 2px 2px 2px black;
  }
}
#stats-section{
  background: white !important;
  &::after{
    display: none !important;
  }
  & *{
    color: $Neutral-1 !important;
  }
}
