#booking-section {
    background: url("../images/bg-page (3).jpg") center/cover fixed;
    position: relative;
    margin-top: 100px;
    &::after {
        content: "";
        background: linear-gradient(to bottom, rgba($Neutral-5, 0.3), rgba(0, 0, 0, 0.7));
        position: absolute;
        height: 100%;
        width: 100%;
        left: 0;
        top: 0;
    }
    display: flex;
    flex-direction: column;
    grid-row-gap: 25px;
    & .title{
      font-family: $FontBold;
      color: $Neutral-1;
      font-size: 2.5rem;
      z-index: 50;
    }
    & .message{
      font-family: $FontBold;
      color: white;
      font-size: 4.5rem;
      z-index: 50;
    }
    & .btn{
      align-self: start;
       z-index: 50;
    }
}
