#recipe-section .section_content {
  display: flex;
  position: relative;
  & .box-details-recipe{
box-shadow: rgba(0, 0, 0, 0.25) 0px 25px 50px -12px;
    transform: translateX(50%);
    background: $Neutral-1;
    padding: 25px;
     width: 400px;
     align-self: center;
      margin-left: auto;
    & .details{
      padding: 25px;
      overflow: hidden;
      border:1px solid white;
      display: flex;
      flex-direction: column;
      grid-row-gap: 15px;
      & .title-recipe{
        font-family: $FontBold;
        color: white;
        font-size: 1.3rem;
      }
      & .text{
        color: white;
      }
      & .btn{
        align-self: start;
      }
    }
  }
  & .cover-recipe-day{
    padding: 10px;
    background: $Neutral-1;
    overflow: hidden;
    height: 390px;
    width: 50%;
    margin-left: auto;
    & img{
      height: 100%;
      width: 100%;
      object-fit: cover;
    }
  }
}
