#stats-section{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 35px;
  background: url("../images/hero-bg.jpg") center/cover fixed;
  position: relative;
  & .stats{
    display:flex;
    flex-direction: column;
    grid-row-gap: 25px;
    align-items: center;
    z-index:50;
    & .stat__count{
      font-family: $FontBold;
      color: white;
      font-size: 4.8rem;
    }
    & .state__title{
      font-family: $FontMedium;
      color: white;
      font-size: 2rem;
      text-align: center;
    }
  }
   &::after{
    content:"";
    background: linear-gradient(to bottom,rgba($Neutral-5,0.4),rgba($Neutral-1,0.7));
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
  }
}

@media only screen and (max-width: 960px) {
    #stats-section {
          grid-template-columns: repeat(2, 1fr);
    }
}

@media only screen and (max-width: 550px) {
    #stats-section {
          grid-template-columns: repeat(1, 1fr);
    }
}
